
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<style>
  .twilight-background {
    background: url('../images/twilight_sky_pixelated4.png') no-repeat center center fixed;
    background-size: cover;
    height: 102%;
    width: 100%;
    color: white;
  }
</style>

<div id="home-section" class="ui stackable middle aligned grid" style="height: 100%">
  <div class="column">
    <div class="ui fluid centered container">

      <!-- picture -->
      <div id="personal-photo">
        <img src="{{ site.data.bio.basics.picture }}" class="ui circular small centered image">
      </div>

      <!-- name -->
      <div id="name" style="padding-top: 25px">
        <h1 style="font-size: 60px; color: white" class="ui center aligned header">Justin Bishay</h1>
      </div>

      <!-- mini bio -->
      <div id="bio" style="padding-top: 10px">
        <h3 style="margin-top: 0px; color: lightsteelblue" class="ui center aligned header">
          Professional nerd with a background as a software engineer in games.<br>
          I have 5+ years of experience working on online multiplayer games in C++ and C#.<br>
          I have worked extensively on various game engine systems, matchmaking, and game client tooling.
        </h3>
      </div>

      <!-- icons -->
      <div id="icon-links">
        <div style="display: flex; justify-content: center; padding-top: 25px">
          <a href="http://github.com/jkbishay">
            <i class="github icon huge yellow"></i>
          </a>
          <a href="https://www.linkedin.com/in/justin-bishay-022890156/" class="centered">
            <i class="linkedin icon huge yellow"></i>
          </a>
          <a href="mailto:justinkb47@gmail.com">
            <i class="mail square icon huge yellow"></i>
          </a>
        </div>
      </div>

      <!-- page buttons -->
      <div class="ui grid" style="display: flex; justify-content: center; padding-top: 25px">
        <div id="page-buttons" class="row">
          <button id="projects-button" class="ui inverted huge white button">Projects</button>
          <div style="padding-left: 8px; padding-right: 8px"></div>
          <a class="ui inverted huge white button" href="{{ site.baseurl}}/JustinBishay_Resume.pdf">Resume</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="projects-section" class="ui container" style="padding: 50px 20px 80px 20px; background: rgba(0, 0, 0, 0); display: flex; flex-direction: column; min-height: 80%;">
  <h1 id="projects-section-title" style="text-align: center; font-size: 45px; color: whitesmoke; margin-bottom: 0px">Projects</h1>
  <p style="text-align: center; font-size: 14px; color: whitesmoke; margin-bottom: 0px">
    (I am currently working on updating these project pages so some of them may not be ready for viewing yet. Pardon my dust.)
  </p>
  <div class="ui special stackable centered three cards" style="padding-top: 20px; flex: 1;">
    {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
    {% for page in project_pages %}
      {% unless page.draft %}
        {% include project-card-1a.html page=page %}
      {% endunless %}
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  /* Terrible ugly hack to get nice background image on main page without changing other templates */
  document.addEventListener("DOMContentLoaded", function() {
    var body = document.getElementsByTagName("body")[0];
    body.style.cssText =
        'background: url("../images/twilight_sky_pixelated4.png") center center fixed;' +
        'background-size: cover;' +
        'background-color: black;' +
        'background-repeat: no-repeat;';
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
      // Triggers the fade-in transition on load
      $('#personal-photo').transition({
        animation : 'fade up in',
        duration  : '1000ms' // Controls the fade duration
      });
      
      $('#name').transition({
        animation : 'fade up in',
        duration  : '1500ms' // Controls the fade duration
      });
      
      $('#bio').transition({
        animation : 'fade up in',
        duration  : '2000ms' // Controls the fade duration
      });
      
      $('#icon-links').transition({
        animation : 'fade up in',
        duration  : '2500ms' // Controls the fade duration
      });
      
      $('#page-buttons').transition({
        animation : 'fade up in',
        duration  : '3000ms' // Controls the fade duration
      });
    });

    $('#projects-button').on('click', function() {
      $('html, body').animate({
        scrollTop: $('#projects-section').offset().top
      }, 1200); // Speed in milliseconds
    });

    // document.querySelector('#projects-button').addEventListener('click', function() {
    //   document.querySelector('#projects-section').scrollIntoView({ 
    //     behavior: 'smooth' 
    //   });
    // });

    $('.special.cards').visibility({
      once: true, // Only triggers the fade effect the first time it enters the screen
      continuous: false,
      onTopVisible: function() {
        // Trigger the Semantic UI fade animation when the top of the element is visible
        $(this).transition('fade in', '1500ms');
      }
    });

    $('#projects-section-title').visibility({
      once: true, // Only triggers the fade effect the first time it enters the screen
      continuous: false,
      onTopVisible: function() {
        // Trigger the Semantic UI fade animation when the top of the element is visible
        $(this).transition('fade in', '1500ms');
      }
    });

    $('.special.cards .image').dimmer({
      on: 'hover'
    });
</script>