<!-- Used by theme-projects-builtin-1a, entire card is the link. -->

<div class="card" style="background-color: {% if include.page.color %} {{ include.page.color }} {% endif %}">
    {% if include.page.image %}
      <div class="blurring dimmable image">
        <div class = "ui dimmer">
          <div class = "content">
            
              {% if page.projecturl %}
                <a class="ui center" href="{{ page.projecturl }}"><h2>{{include.page.summary}}</h2></a>
              {% else %}
                <a class="ui center" href="{{ site.baseurl}}{{ include.page.url }}"><h4>{{include.page.summary}}</h4></a>
              {% endif %}   
     
          </div>
        </div>
        <img src="{{ site.baseurl }}/{{ include.page.image }}">
      </div>
    {% endif %}
   <div class="content">
    <span class="center aligned header">{{ include.page.title }}</span>
  </div>
</div>
