<!-- Used by theme-projects-builtin-1a, entire card is the link. -->

<style>
  .imagesize {
    height: 226px;
    width: 362px;
  }
</style>

<a class="card hidden" style="background-color: #03093d" href="{{ site.baseurl}}{{ include.page.url }}">
    {% if include.page.image %}
      <div class="blurring dimmable image">
        <div class = "ui dimmer">
          <div class = "content">
            
            <h2>{{include.page.summary}}</h2>
              <!-- {% if page.projecturl %}
                <a class="ui center" href="{{ page.projecturl }}"><h2>{{include.page.summary}}</h2></a>
              {% else %}
                <a class="ui center" href="{{ site.baseurl}}{{ include.page.url }}"><h4>{{include.page.summary}}</h4></a>
              {% endif %}    -->
     
          </div>
        </div>
        <img src="{{ site.baseurl }}/{{ include.page.image }}" height="200">
      </div>
    {% endif %}
   <div class="content">
    <span class="center aligned header" style="color: whitesmoke;">{{ include.page.title }}</span>
  </div>
</a>
