
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<style>
  .twilight-background {
    background: url('../images/twilightsky.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 750px;
    width: 100%;
    color: white;
  }
</style>

<div class="twilight-background">
  <div class="-">
    <div class="ui middle aligned centered container grid">
    <div class="row">
      <div class="column">
        <img src="{{ site.data.bio.basics.picture }}" class="ui circular small centered image">
        <h1 style="font-size: 60px; color: white" class="ui center aligned header">Justin Bishay</h1>
        <h3 style="margin-top: 0px; color: lightsteelblue" class="ui center aligned header">University of Hawaii at Manoa Computer Science undergraduate | Honolulu, Hawaii</h3>
      </div>
    </div>
    <div class="one column centered row">
      <a href="http://github.com/jkbishay">
        <i class="github icon huge orange"></i>
      </a>
      <a href="https://www.linkedin.com/in/justin-bishay-022890156/">
        <i class="linkedin icon huge orange"></i>
      </a>
      <a href="https://twitter.com/imapyramid_LOL">
        <i class="twitter icon huge orange"></i>
      </a>
      <a href="mailto:jkbishay@hawaii.edu">
        <i class="mail square icon huge orange"></i>
      </a>
    </div>
    <div class="one column centered row">
      <a href="{{ site.baseurl}}/essays/"><button class="ui inverted yellow button">Essays</button></a>
      <a href="{{ site.baseurl}}/projects/"><button class="ui inverted green button">Projects</button></a>
      <a href="{{ site.baseurl}}/bio/"><button class="ui inverted teal button">Resume</button></a>
    </div>
  </div>
  </div>
</div>
