
<style>
  .sunset-background {
    background: url('../images/Sunset.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 700px;
  }

  .text-style {
    font-size: 17px;
    color: whitesmoke;
  }
</style>

<div class="sunset-background" style="background-color: black">
  <h1 style="text-align: center; font-size: 45px; color: #2015ff; margin-bottom: 0px">About Me</h1>
  <div class="ui one column middle aligned centered container grid" style="margin-top: 50px">
    <div class="column" style="width: 800px; background-color: #248946; padding-left: 100px; padding-right: 100px">
      <img class="ui rounded medium centered image" src="../images/justin2.jpg" style="margin-bottom: 20px">
      <div class="ui left aligned container text-style">
I'm Justin Bishay! I am currently pursuing a BS in Computer Science at the University of Hawaii at Manoa, and I expect to graduate in Spring of 2019.

I am a passionate gamer and have enjoyed playing various titles and genres of video games ever since I was a child. Now, I am aspiring to become a game developer so that I may create games that are entertaining and memorable for all types of gamers.

During my studies, I have worked on game design and gaming-related projects. I am also a part of the Laboratory of Advanced Visualization and Applications (LAVA) where I work on other data visualization projects as well.

Outside of the world of technology, I work as a coach for cross-country and track and field at my former high school, Mid-Pacific Institute. I play the guitar as a hobby as well.

Please refer to my resume for more about my professional experience and contact information.
      </div>
      <div class="center aligned container">
        <a href="{{ site.baseurl}}/Resume.pdf"><button class="ui big black button">Resume</button></a>
      </div>
    </div>
  </div>
</div>
