
<style>
  .sunset-background {
    background: url('../images/Sunset.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 1000px;
  }

  .text-style {
    font-size: 17px;
    color: whitesmoke;
  }
</style>

<div class="ui one column middle aligned centered container grid" style="padding-top: 14px">
  <div class="column" style="width: 800px; background-color: #03051e; padding-left: 100px; padding-right: 100px">
    <h1 style="text-align: center; font-size: 45px; color: whitesmoke; margin-bottom: 0px">About Me</h1>
    <img class="ui rounded medium centered image" src="../images/justin2.jpg" style="margin-bottom: 20px">
    <div class="ui left aligned container text-style" style="color: whitesmoke">
I'm Justin Bishay! I graduated from the the University of Hawaii at Manoa in Spring of 2019 with a BS in Computer Science and am currently pursuing an MS in Computer Science at the the same school. I expect to graduate with my Master's degree in 2021.<br/><br/>

I am a passionate gamer and have enjoyed playing various titles and genres of video games ever since I was a child. Now, I am aspiring to become a game developer so that I may create games that are entertaining and memorable for all types of gamers. <br/><br/>

During my studies, I have worked on game design, virtual and augmented reality, and data visualization projects. I am also a part of the <a href="https://www.lavaflow.info/">Laboratory of Advanced Visualization and Applications (LAVA)</a> where I work on other data visualization projects.<br/><br/>

Outside of the world of technology, I work as a coach for cross-country and track and field at my former high school, Mid-Pacific Institute. I also spend sometime helping to organize and run some esports torunaments. I play the guitar as a hobby as well.<br/><br/>

Please refer to my resume for more about my professional experience and contact information.<br/><br/>
    </div>
    <div class="ui center aligned container">
      <a href="{{ site.baseurl}}/JustinBishay_Resume.pdf"><button class="ui big inverted button">Resume</button></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  /* Terrible ugly hack to get nice background image on main page without changing other templates */
  document.addEventListener("DOMContentLoaded", function() {
    var body = document.getElementsByTagName("body")[0];
    body.style.cssText =
        'background: url("../images/nightskypan.jpeg") center center fixed;' +
        'background-size: cover;' +
        'background-color: black;' +
        'background-repeat: no-repeat;';
  });
</script>
