<div class="ui container" style="padding: 14px 20px 14px 20px; background-color: #03051e; display: flex; flex-direction: column; min-height: 100%;">
  <h1 style="text-align: center; font-size: 45px; color: whitesmoke; margin-bottom: 0px">Data Visualizations</h1>
  <div class="ui special stackable centered three cards" style="padding-top: 20px; flex: 1;">
    <div class="card" style="background-color: #03093d; height: 250px;">
        <div class="blurring dimmable image">
          <div class = "ui dimmer">
            <div class = "content">
                  <a class="ui center" href="{{ site.baseurl }}/datavisualization/coronavirus_map/">
                    <h4>COVID-19 New Daily Cases and Active Cases Global Hot Spots</h4>
                  </a>
            </div>
          </div>
          <img src="{{ site.baseurl }}/datavisualization/coronavirus_map/CoronavirusMapPreview.png">
        </div>
      <div class="content">
        <span class="center aligned header" style="color: whitesmoke;">COVID-19 Hot Spots Map</span>
      </div>
    </div>
    <div class="card" style="background-color: #03093d; height: 250px;">
      <div class="blurring dimmable image">
        <div class = "ui dimmer">
          <div class = "content">
                <a class="ui center" href="{{ site.baseurl }}/datavisualization/cholera/">
                  <h4>Visualization of the 1854 Cholera Outbreak in London</h4>
                </a>
          </div>
        </div>
        <img src="{{ site.baseurl }}/datavisualization/cholera/CholeraPreview.png">
      </div>
    <div class="content">
      <span class="center aligned header" style="color: whitesmoke;">1854 Cholera Outbreak in London</span>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>

<script type="text/javascript">
  /* Terrible ugly hack to get nice background image on main page without changing other templates */
  document.addEventListener("DOMContentLoaded", function() {
    var body = document.getElementsByTagName("body")[0];
    body.style.cssText =
        'background: url("../images/nightskypan.jpeg") center center fixed;' +
        'background-size: cover;' +
        'background-color: black;' +
        'background-repeat: no-repeat;';
  });
</script>
