---
layout: default
---

{% include menubar.html active="" %}

<!--<div style="padding-top: 20px" class="ui container ">
  <p>I'm sorry, that URL could not be found. Perhaps you were looking for one of the following:</p>

  <h3>Essays</h3>
  <ul>
    {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
    {% for page in essay_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

  <h3>Projects</h3>
  <ul>
    {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
    {% for page in project_pages %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

</div>-->

<div class="ui center aligned container" style="margin-top: 100px;">
  <h1 style="color: whitesmoke">THERES NOTHING TO SEE HERE...IT'D BE BEST YOU GO BACK THE WAY YOU CAME</h1>
  <img class="ui large image centered" src="../images/TAIKOMAN.jpg">
</div>

