---
layout: projects
---
<style>
  .project-background {
    background: url('../{{ page.backgroundImage }}') no-repeat center center fixed;
    background-size: cover;
  }

  .max-height {
    height: 102%;
  }
</style>

<div class="project-background max-height" style="padding-top: 14px">
  <div class="ui one column centered grid container">
    <div class="column max-height" style="width: 880px; background-color: {% if page.color %} {{ page.color }} {% else %} lightcyan {% endif %}; padding-left: 40px; padding-right: 40px">
      <div class="ui text container">
        <h1 class="ui center aligned header" style="font-size: 40px">{{ page.title }}</h1>
          {{ content }}
      </div>
    </div>
  </div>
</div>